:root {
  --bg-color: #282c34;
}

.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  flex: 1 1 0;
  background-color: hsl(220deg 13% 13%);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.column {
  background-color: var(--bg-color);
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.attribute-row {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.class-item {
  padding: 4px;
  cursor: pointer;
}

.class-item.eligible {
  color: green;
  font-weight: bold;
}

.class-requirements {
  margin-top: 8px;
  padding: 12px;
  background-color: dimgray;
  border-radius: 4px;
}

.skill-row > * {
  margin: 0 4px;
}
